bin/
obj/
Debug/
Release/
*.suo
*.sdf
*.db
*.pdb
*.ilk
*.exe
*.notfound
*.idb
*.tlog
*.log
*.ipch
*.layout
*.manifest
*.rc
*.user
*.dat
*.bkp
*.tmp
*.bak
*.dll
*.exe.manifest
*.lib
*.exp

build-*
*.pro.user
qmlcache/

*.iml
*~

.vscode/
.idea/

